
body{
    #background-color: #39C5BB;
}
html{
    background-image: url("../test/saki.jpg");
    backdrop-filter:blur(10px);
}
.windowBody{
    display:grid;
    place-items:center;
    height:100vh;
    backdrop-filter:blur(10px);
    border-radius: 10px;
    transition: ease-in-out 250ms;
}
.windowBody:hover{
    backdrop-filter:blur(0px);
}
.windowMain{
    place-items:center;
    text-align:center;
    background-color: white;
    height: 400px;
    width: 550px;
    opacity: 0.8;
    border-radius: 30px;
}
.labelHead{
    font-size:25px;
    color: black;
}
select.dataTypeSelector{
    margin-top:13px;
    border-radius: 10px;
    border:solid 1px #39C5BB;
}

.dataTypeSelector{
    height:30px;
    width:200px;
}
.dataTypeDiv{
    margin-top:50px;
    display:flex;
}
/*.fileInput{*/
/*    opacity: 1;*/
/*    font-size:15px;*/
/*}*/
.selectFile{
    background-color: aqua;
    border-color: transparent;
    margin-left: 15px;
    margin-top: 14px;
    width: 100px;
    height: 30px;
    border-radius: 30px;
}
.selectFile:hover{
    background-color: #00bbff;
}
.selectFile:active{
    background-color: #006fff;
}
.fileInput {
    margin-left: 10px;
    display: inline-block;
    background-color: #39C5BB;
    color: white;
    height:50px;
    width: 100px;
    border-radius: 50px;
    font-weight: 30;
    cursor: pointer;
    transition: all 0.3s ease;
}
.submitFile{
    background-color: aqua;
    border-color: transparent;
    width: 100px;
    height: 30px;
    border-radius: 30px;
    margin-top: 20px;
}
.submitFile:hover{
    background-color: #00bbff;
}
.submitFile:active{
    background-color: #006fff;
}
.regionSelection{
    margin-top:30px;
    display:flex;
}