<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.arth.bot.core.database.mapper.PjskBindingMapper">

    <resultMap id="BaseResultMap" type="com.arth.bot.core.database.domain.PjskBinding">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="cnPjskId" column="cn_pjsk_id" jdbcType="VARCHAR"/>
            <result property="jpPjskId" column="jp_pjsk_id" jdbcType="VARCHAR"/>
            <result property="twPjskId" column="tw_pjsk_id" jdbcType="VARCHAR"/>
            <result property="krPjskId" column="kr_pjsk_id" jdbcType="VARCHAR"/>
            <result property="enPjskId" column="en_pjsk_id" jdbcType="VARCHAR"/>
            <result property="defaultServerRegion" column="default_server_region" jdbcType="CHAR"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
            <result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,cn_pjsk_id,jp_pjsk_id,tw_pjsk_id,kr_pjsk_id,
        en_pjsk_id,default_server_region,created_at,updated_at
    </sql>
</mapper>
